#options {
    width: 181px;
    height: 40px;
}

.settings {
    margin-top: 26px;
    z-index: 20;
    margin-left: -128px;
    position: absolute;
    text-decoration: none;
}

.headerStyle {
    font-style: italic;
    font-weight: 700;
}

#imageStatus {
    width: 25px;
    margin-top: -4px;
    position: absolute;
    z-index: -1;
    margin-left: 15px;
}

.btn {
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.bg-light {
    background-color: #28a745 !important;
}

a.green{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    display: block;
    display: inline;
    width: 37px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    padding: 6px 10px;
    margin: 9px auto;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}
a.green {
    background-color: rgb( 43, 153, 91 );
    border: 1px solid rgb( 33, 126, 74 );
}

a.green:hover {
    background-color: rgb( 75, 183, 141 );
}



.bottonbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

/* Style the links inside the navigation bar */
.bottonbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.bottonbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.bottonbar a.active {
    background-color: #4CAF50;
    color: white;
}